.about4{
    position: relative;
    max-width:1500px;
    margin: 0 auto;
    background-color: rgb(35,35,35);
    margin-top: 50px;
    text-align: center;
    img{
        display:inline-block;
        margin-top:20px;
    }
}
.icons{
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    font-family: "Noto Serif JP", serif;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 20px;
}
.icons a {
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 29px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: all .3s;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}
.about4 small {
    color: #fff;
    font-size: 11px;
    text-align: center;
}